.cart {
  margin: 30px;
  margin-left: 15%;
}

.cart__title {
  text-align: center;
}

/* navegacion */

.cart__preview {
  padding: 2em 0;
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  position: relative;
}

.cart__link {
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-weight: 200;
  width: min-content;
  text-transform: uppercase;
  color: var(--tertiary);
}

.cart__link:hover {
  filter: var(--filter-primary);
}

.cart__icon {
  font-weight: var(--font-regular);
  filter: var(--filter-primary);
  font-size: 3rem;
  line-height: 2rem;
}

/* navegacion */

.cart__back {
  height: 15px;
  display: flex;
}

.cart__card {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;
}

.cart__card:hover {
  background-color: var(--quaternary);
  border-radius: 10px;
}

.cart__div {
  text-align: start;
}

.cart__img {
  width: 50%;
  height: 50%;
  border-radius: 5px;
}

.cart__img--paper {
  position: absolute;
  margin-top: 5px;
  margin-left: 100px;
  width: 20px;
}

.cart__text {
  margin-top: 5px;
}

.cart__total {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  width: max-content;
}

.cart__kuan {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-top: 15px;
}

.cart__quantity {
  color: var(--quinary);
  font-weight: var(--font-semibold);
  font-size: 10px;
  margin-top: 2px;
}

.btn__quan {
  text-align: center;
  background-color: var(--quinary);
  padding: 2px 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn__quan:active {
  transition: background-color 0.3s;
  background-color: var(--primary);
}

.cart__offer {
  width: max-content;
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: var(--quinary);
}

.cart__price {
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--tertiary);
  font-style: italic;
}

.prices__title {
  font-size: 12px;
  width: 100px;
}

.cart__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 304px;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  border-radius: 10px;
  padding: 1.3em;
  color: var(--primary-contrast);
  cursor: pointer;
  background-color: var(--quinary);
  margin-top: 30px;
}

.cart__btn:hover {
  background-color: var(--quaternary);
}

.cart__btn--clear {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 304px;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  border-radius: 10px;
  padding: 1.3em;
  color: red;
  cursor: pointer;
  background-color: var(--primary-contrast);
  margin-top: 15px;
}

.cart__btn--clear:hover {
  color: var(--primary-contrast);
  background-color: red;
}

.cart__to {
  margin: 10px;
  font-size: 12px;
  font-weight: var(--font-semibold);
}

.cart__deco {
  color: var(--quinary);
}

@media (min-width: 768px) {
  .cart {
    display: flex;
    flex-direction: column;
  }

  .cart__title {
    font-size: 30px;
  }

  .cart__deco {
    color: var(--quinary);
  }

  .cart__div {
    font-size: 20px;
  }

  .prices__title {
    font-size: 20px;
  }
  .cart__precio {
    font-size: 20px;
  }
  .cart__total {
    font-size: 20px;
  }
  .cart__price {
    font-size: 17px;
  }
  .cart__quantity {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart__card {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    padding: 10px;
    width: 800px;
  }

  .cart__card:hover {
    background-color: var(--quaternary);
    border-radius: 10px;
  }

  .cart__img {
    width: 30%;
  }

  .cart__btn {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 20px;
  }

  .cart__btn--clear {
    margin: 0 auto;
    width: 50%;
  }
}
