/*! ------------------ */
/*!        Mobile      */
/*! ------------------ */

.details {
  font-size: 1.6rem;
}

.details__preview {
  padding: 2em 0;
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-weight: var(--font-semibold);
  text-transform: uppercase;
  position: relative;
}

.details__img {
  height: 15px;
  display: flex;
}

.details__icons--method {
  display: flex;
  gap: 2rem;
  right: 0;
  position: absolute;
  /* background-color: rebeccapurple; */
  padding: 0 1rem;
}

.details__icons--method {
  display: flex;
  gap: 2rem;
  /* right: 0; */
  top: 70px;
  position: absolute;
  padding: 0 1rem;
}

.details__icons--method img {
  /* background-color: var(--quaternary); */
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 30px;
  max-height: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(22%) saturate(1%)
    hue-rotate(32deg) brightness(105%) contrast(101%);
}

.details__icon {
  font-weight: var(--font-regular);
  filter: var(--filter-primary);
  font-size: 3rem;
  line-height: 2rem;
}

.details__icon--method {
  width: 40px;
  padding: .5rem .6rem;
  border: 1.5px solid var(--quaternary);
  border-radius: 3px;
  background-color: var(--primary);
}

.details__icon--method:hover {
  background-color: var(--quaternary);
}

.details__alert-content{
  position: fixed;
  background-color: #000000a0;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .5s linear;
}

.details__alert-content--opacity{
  opacity: 1;
  pointer-events: unset;
}

.details__alert{
  height: 200px;
  /* width: 200px; */
  max-width: 350px;
  border-radius: 10px;
  padding: 2rem 2rem;
  background-color: var(--quaternary);
  box-shadow: 0 0 10px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.details__alert-buttons{
  display: flex;
  column-gap: 1rem;
}

.cta--alert{
  /* display: flex; */
  /* column-gap: 1rem; */
  text-align: center;
  padding: 1rem;
  margin: auto 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  border-radius: 10px;
  color: var(--primary-contrast);
  cursor: pointer;
  font-size: 1.5rem;
}

.cta--alert:first-child{
  border: 2px solid #ecc2c5;
  border-color: #ecc2c5;
  background-color: #ecc2c5;
  color: rgb(235, 25, 25);
}

.cta--alert:first-child:hover{
  border-color: rgb(235, 25, 25);
  background-color: rgb(235, 25, 25);
  color: #fff;
}

.cta--alert:nth-child(2){
  background-color: var(--quinary);
}

.cta--alert:nth-child(2):hover{
  background-color: var(--secondary);
}


/* 
.cta--primary {
  background-color: var(--quinary);
}

.cta--secondary {
  background-color: transparent;
  border: 3px solid var(--quaternary);
} */

/* 
*{
  outline: 1px solid red;
} */

.details__link {
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-weight: 200;
  width: min-content;
  text-transform: uppercase;
  color: var(--tertiary);
}

.details__link:hover {
  filter: var(--filter-primary);
}

.details__content,
.details__data {
  display: grid;
  gap: 2em;
}

.details__content img {
  width: 100%;
  border-radius: 5px;
}

.details__text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details__total {
  font-size: 1.9rem;
  text-decoration: line-through;
  font-weight: var(--font-semibold);
  color: var(--tertiary);
  font-style: italic;
}

.details__price {
  display: flex;
  align-items: center;
  font-weight: var(--font-bold);
  font-size: 2.4rem;
}

.details__offer {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--quinary);
  margin-left: 1rem;
}

.stars {
  width: 80%;
  max-width: 200px;
  display: flex;
  gap: 0.5rem;
}

.star {
  width: 6vw;
  height: 6vw;
  max-width: 5rem;
  max-height: 5rem;
  background-color: var(--star-colour);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star--half {
  width: 6vw;
  height: 6vw;
  max-width: 5rem;
  max-height: 5rem;
  background-color: var(--quaternary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: relative;
}

.star--half::before {
  content: "";
  transform: scale(0.7);
  position: absolute;
  inset: 0;
  background-color: var(--primary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star--half::after {
  content: "";
  transform: scale(1);
  position: absolute;
  inset: 0;
  background-color: var(--star-colour);
  clip-path: polygon(
    50% 0%,
    50% 34%,
    50% 55%,
    50% 62%,
    50% 67%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star--none {
  width: 6vw;
  height: 6vw;
  max-width: 5rem;
  max-height: 5rem;
  background-color: var(--quaternary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: relative;
}
.star--none::after {
  content: "";
  transform: scale(0.7);
  position: absolute;
  inset: 0;
  background-color: var(--primary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.details__datas {
  display: grid;
  gap: 0.5em;
  position: relative;
}

.details__datas h2,
.details__categories h3 {
  text-transform: uppercase;
}

.details__datas span {
  font-weight: var(--font-semibold);
}

.details__categories {
  display: grid;
  gap: 1em;
}

.details__categories h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.details__roles {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.6em;
  flex-wrap: wrap;
}

.details__roles p {
  padding: 0.5rem;
  flex: 140px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--quaternary);
}

.details__ctas {
  padding: 3.5em 0;
  display: flex;
  gap: 1em 2em;
  flex-wrap: wrap;
}

.cta {
  flex: 304px;
  margin: auto 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  border-radius: 10px;
  padding: 0.7em 0;
  color: var(--primary-contrast);
  cursor: pointer;
}

.cta--primary {
  background-color: var(--quinary);
}

.cta--secondary {
  background-color: transparent;
  border: 3px solid var(--quaternary);
}

.cta--tertiary {
  border-color: #ecc2c5;
  background-color: #ecc2c5;
  color: rgb(235, 25, 25);
}

.cta--primary {
  background-color: var(--quinary);
}

.cta--primary:hover,
.cta--secondary:hover {
  background-color: var(--quaternary);
}

.cta--tertiary:hover {
  border-color: rgb(235, 25, 25);
  background-color: rgb(235, 25, 25);
  color: #fff;
}

/*! ------------------ */
/*!        Tablet      */
/*! ------------------ */

@media (min-width: 480px) {
  .details__img {
    display: flex;
    width: 30px;
    height: 20px;
  }

  .details__content,
  .details__data {
    display: grid;
    gap: 2.5em;
  }
}

/*! ------------------ */
/*!      Laptop        */
/*! ------------------ */

@media (min-width: 768px) {
  .details {
    padding-top: 2rem;
    padding-bottom: 5rem;

    padding-left: 5rem;
  }

  .details__icons--method {
    /* right: 0; */
    top: -60px;
  }
  
  .details__content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    column-gap: 2em;
    row-gap: 1em;
  }

  .details__content img {
    object-fit: cover;
    grid-area: 1 / 1 / 3 / 3;
  }

  .details__data {
    height: min-content;
    grid-area: 1 / 3 / 4 / 5;
  }

  .details__datas {
    gap: 1.5em;
  }

  .details__info {
    display: grid;
    gap: 0.2em;
  }

  .details__datas h2 {
    font-size: 3rem;
  }

  .details__offer {
    font-size: 2rem;
  }

  .details__price {
    font-size: 3rem;
  }

  .details__price span {
    font-size: 2.4rem;
  }

  .stars {
    max-width: 250px;
  }

  .stars__items {
    justify-content: flex-end;
    height: min-content;
  }

  .details__categories {
    grid-area: 3 / 1 / 4 / 3;
  }

  .details__description {
    padding-top: 1em;
    grid-area: 4 / 1 / 4 / 3;
  }
}

/*! ------------------ */
/*!      Laptop        */
/*! ------------------ */

@media (min-width: 1200px) {
  .details__datas {
    gap: 1.5em;
    font-size: 1.8rem;
  }
  .details__datas h2 {
    font-size: 4rem;
  }

  .details__price {
    font-size: 3.5rem;
  }

  .details__price span {
    font-size: 2.4rem;
  }
}
