* {
  /* outline: 1px solid red; */
}

.main {
  padding-bottom: 5rem;
}

.publicity {
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.publicity__img {
  width: 100%;
}

/* publicity__carousel */
.publicity__carousel--images {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: 8rem;
  column-gap: 1rem;
  overflow: scroll;
}

.publicity__carousel--card {
  display: flex;
  height: 6rem;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s background-color;
}

.publicity__carousel--card:hover {
  background-color: var(--quaternary);
}

.publicity__selected {
  background: linear-gradient(to left, var(--quinary), var(--secondary));
  background-size: 200% 100%;
  animation: 5s gradientAnimation linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 100% 200%;
  }
}

.publicity__carousel--title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  width: 10rem;
}

.publicity__carousel--img {
  height: 100%;
  max-width: 8rem;
  object-fit: cover;
  border-radius: 1rem;
}

/* ! */
/* ! */
.recommended {
  margin-top: 5rem;
}

.recommended__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  pointer-events: none;
}

@media (min-width: 480px) {
  .publicity {
    margin-top: 2rem;
    align-items: center;
  }

  .publicity__container {
    width: 90%;
    height: 35rem;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0;
  }

  .publicity__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }

  .publicity__carousel--images {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .publicity__container {
    height: 50rem;
  }
  /*  */
  /*  */
  /*  */
  .recommended__title {
    font-size: 3rem;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .publicity {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .publicity__container {
    width: 80rem;
  }

  /*  */
  .publicity__carousel--images {
    overflow: hidden;
    width: max-content;
    height: 50rem;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
    margin: 0;
  }

  .publicity__carousel--card {
    height: 8rem;
  }

  .publicity__carousel--img {
    width: 12rem;
    max-width: 12rem;
  }

  .publicity__carousel--title {
    font-size: 1.5rem;
  }

  /*  */
  /*  */
  .products {
    justify-content: center;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.wrapper {
  background: linear-gradient(60deg, #420285, #08bdbd);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
  animation-delay: calc(3s * -1);
}

.carousel__item:nth-child(2) {
  animation-delay: calc(3s * 0);
}

.carousel__item:nth-child(3) {
  animation-delay: calc(3s * 1);
}

.carousel__item:nth-child(4) {
  animation-delay: calc(3s * 2);
}

.carousel__item:nth-child(5) {
  animation-delay: calc(3s * 3);
}

.carousel__item:nth-child(6) {
  animation-delay: calc(3s * 4);
}

.carousel__item:nth-child(7) {
  animation-delay: calc(3s * 5);
}

.carousel__item:nth-child(8) {
  animation-delay: calc(3s * 6);
}

.carousel__item:last-child {
  animation-delay: calc(-3s * 2);
}

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
  color: black;
}

.carousel-subtitle {
  color: black;
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%,
  11.1111111111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  14.1111111111%,
  22.2222222222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  25.2222222222%,
  33.3333333333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
.Carousel-test {
  margin: 20rem 0rem;
}
/*  */
/*  */
