* {
  /* outline: 1px solid red; */
}

.main {
  padding-bottom: 5rem;
}

/* ! */
/* ! */
.recommended {
  user-select: none;
  width: 93%;
  max-width: 1200px;
  margin: 0 auto;
}

.recommended__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .recommended__title {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
}
