* {
  /* outline: 1px solid red; */
}

.main {
  padding-bottom: 5rem;
}

/* ! */
/* ! */
.recommended {
  margin-top: 5rem;
}

.recommended__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  pointer-events: none;
}

@media (min-width: 768px) {
  .recommended__title {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
}
