/*! ------------------ */
/*!        Mobile      */
/*! ------------------ */

.shop {
  width: 85%;
  font-size: 1.6rem;
  padding: 3rem 0;
  overflow: hidden;
  position: relative;
}

.shop h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

.shop__games {
  position: relative;
  max-width: 1200px;
  background-color: rebeccapurple;
}

.games {
  display: grid;
  row-gap: 1rem;
  margin-left: auto;
  overflow: hidden;
}

/*! ------------------ */
/*!   Query Laptop     */
/*! ------------------ */

@media (min-width: 768px) {
  .shop {
    width: 90%;
    padding: 5rem 0;
  }

  .shop h2 {
    font-size: 3rem;
    text-align: unset;
  }

  .shop__link,
  .shop__next,
  .shop__prev {
    width: 45px;
    height: 45px;
  }

  .shop__next,
  .shop__prev {
    font-size: 2.3rem;
  }
}

/*! ------------------ */
/*!      Query PC      */
/*! ------------------ */

@media (min-width: 1200px) {

  .shop {
    min-height: 80rem;
  }

  .shop h2 {
    margin-left: auto;
  }

  .shop__result {
    margin-left: auto;
    text-align: center;
    width: 76%;
  }

  .games {
    column-gap: 1rem;
    width: 76%;
    grid-template-columns: repeat(2, 1fr);
  }

}
