:root {
  --Primary: #090918;
  --Secondary: #191932;
  --Tertiary: #dfdfdf;
  --Quaternary: #1565c0;
  --Quinary: #ffffff;
  --Senary: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--Primary);
  color: var(--Senary);
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  font-size: 62.5%;
}

body {
  background-color: rgb(173, 22, 22);
  /* padding-bottom: 600px; */
}
