.loading {
  width: 100%;
  height: 50rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__img {
  width: 20rem;
  animation: 1s infinite infiniteRotate;
}

@keyframes infiniteRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading__img--dance {
  margin-top: 5rem;
  filter: invert(100%);
}
