<footer class="footer">
  <div class="footer__content">
    <div class="footer__mobile-nav">
      <img src="" alt="" class="footer__mobile-logo" />
      <img src="" alt="" class="footer__mobile-img" />
    </div>
    <nav class="footer__nav">
      <h4 class="footer__nav-title">Moon</h4>
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"></a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"></a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"></a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"></a>
        </li>
      </ul>
    </nav>
    <div class="footer__secondary">
      <ul class="footer__secondary-list">
        <li class="footer__secondary-item">
          <a href="" class="footer__secondary-link"></a>
        </li>
        <li class="footer__secondary-item">
          <a href="" class="footer__secondary-link"></a>
        </li>
        <li class="footer__secondary-item">
          <a href="" class="footer__secondary-link"></a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer__copyright">@2023 Moon - Todos los derechos reservados.</p>
</footer>
