.star {
  width: 30px;
  height: 30px;
  background-color: var(--star-colour);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star--half {
  width: 30px;
  height: 30px;
  background-color: var(--star-colour);
  clip-path: polygon(
    50% 0%,
    50% 34%,
    50% 55%,
    50% 62%,
    50% 67%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star--none {
  width: 30px;
  height: 30px;
  background-color: var(--secondary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: relative;
}
.star--none::after {
  content: "";
  transform: scale(.7);
  position: absolute;
  inset: 0;
  background-color: var(--primary);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}


