@supports (scroll-behavior: smooth) {
  * {
    scroll-behavior: smooth;
  }
}
/* 
@font-face {
  font-family: "Montserrat";
  src:
    url("montserrat-vf.woff2") format(woff2) tech(variations);  
  font-weight: 100 900;
  font-stretch: 50% 200%;
} */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #090918;
  --secondary: #191932;
  --tertiary: #c7c7c7;
  --quaternary: #262649;
  --quinary: #1565c0;
  --star-colour: #f3f71d;
  --offer-colour: #be0910;

  --primary-contrast: #ffffff;
  --secondary-contrast: #eeeeee;

  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --filter-primary: brightness(0) saturate(100%) invert(46%) sepia(73%)
    saturate(2158%) hue-rotate(172deg) brightness(104%) contrast(103%);
  --firter-secondary: brightness(0) saturate(100%) invert(13%) sepia(89%)
    saturate(6233%) hue-rotate(6deg) brightness(97%) contrast(117%);
  --firter-tertiary: brightness(0) saturate(100%) invert(15%) sepia(7%)
    saturate(4670%) hue-rotate(201deg) brightness(91%) contrast(94%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 10rem;
}

html {
  background-color: var(--primary);
  font-size: 62.5%;
  color: var(--primary-contrast);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  width: 100%;
  text-align: left;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

.container {
  overflow: hidden;
  width: 93%;
  margin: 0 auto;
}

/*! ------------------ */
/*!    Query Laptop    */
/*! ------------------ */
@media (min-width: 768px) {
  .container {
  max-width: 1200px;
    padding-left: 5rem;
    /* tiene un minimo de 50px de padding porque 
    el menu de navegacion tiene posion fixed*/
  }
}
