/* *{
  outline: 1px solid red;
} */

.error__link {
  padding-top: 1rem;
  width: 25px;
  height: 45px;
}

.error__arrowLeft {
  /* width: 30px; */
  /* height: 70px; */
  width: 100%;
  height: 100%;
}

.error__arrowLeft:hover {
  filter: var(--filter-primary);
}

.error__title {
  text-align: center;
  font-size: 2rem;
}
.error__text {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.6rem;
}

.error__imgCat {
  margin: 0 auto;
  margin-top: 50px;
  width: 150px;
  height: 100px;
}

@media (min-width: 768px) {
  .error__imgCat {
    width: 450px;
    height: 300px;
  }

  .error__title {
    text-align: center;
    font-size: 4rem;
  }
  .error__text {
    text-align: center;
    font-size: 2.5rem;
  }

  .error__arrowLeft {
    width: 25px;
    height: 50px;
  }
}
